.site-logo{
    -webkit-text-size-adjust: 100%;
    color: #383844;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
    width: 90px;
    padding-top: 75px;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1em;
    background-size: 90px;
    background-image: url("../wikipedia.png");
}

.post-wikipedia{
    color: #383844;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    overflow: hidden;
    padding: 0 12px 0 12px;
    border-top-width: 0.07143em;
    border-top-style: solid;
    padding-top: 1.64286em;
    padding-bottom: 1.71429em;
    border-color: #eeeeee;
    width: 50%;
    float: left;
    clear: left;
}

.block_link{
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    display: block;
    text-decoration: none;
    color: #383844;
}