.youtube-card{
    width: 30rem;
    height: 26rem;
    margin-bottom: 25px;
}

.youtube-card-image{
    width: 280px;
    height: auto;
    align-self: center;
}

.youtube-card-subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
}